extends layout

block form
  #login-overlay.modal-dialog
    #my_login_modal.modal-content
      .modal-header
        h4#myModalLabel.modal-title
          | Login to your  
          b Account
      .modal-body
        .row.center-block
          #my_login_block.col-xs-10.center-block
            .well.col-md-12

              .form-signin
                if message != ""
                  .alert.alert-danger.animated.fadeIn
                    button.close(type='button', data-dismiss='alert') ×
                    div= message

                form.form-signin(action="auth/authenticate", method="post", role="form")
                  input(type='hidden', name='_csrf', value=_csrf)
                  .list-group
                    .list-group-item
                      input.form-control.no-border(type='text', autocomplete="off" placeholder='Username', name="username")
                    .list-group-item
                      input.form-control.no-border(type='password', placeholder='Password', name="password")

                  button.btn.btn-lg.btn-primary.btn-block.btn-login(type='submit') Sign in

                  div.clearfix

                  //p.line.line-dashed

                  //p.text-muted.text-center
                  //  small Do not have an account?
                  //a.btn.btn-lg.btn-default.btn-block(href='/signup') Create an account