/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
  /* margin bottom by footer height */
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url('../images/bgtile.jpg');
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    left:0%;
    bottom: 0;
    width: 100%;
    /* set the fixed height of the footer here */
    height: auto;
    background-color: #eee;
}
.foot {
    font-size: 120%;
}

/* custom page css
-------------------------------------------------- */
/* not required for template or sticky footer method. */
.container .text-muted {
    text-align: center;
    color: #000;
    margin: 20px 0;
}
#lavid-inverted {
    position:relative;
    height: 50px;
    width: 50px;
    bottom: 35%;
}

#messages {
    width: 100%;
    resize: none;
}

/*======================================
    GENERAL STYLES
======================================= */
body {
   font-family:Verdana;
}
.pad-top {
    padding-top:30px;
}
.pad-bottom {
     padding-bottom:30px;
}

/*======================================
    CHAT BOX STYLES
======================================= */
.hr-clas {
    border-top: 1px solid #000;
}
.chat-box-main {
    max-height:500px;
    overflow:auto;
}
.chat-box-div {
    border:2px solid #000;
    border-bottom:2px solid #000;
} 
.chat-box-head {
    padding: 10px 15px;
    border-bottom: 2px solid #000;
    background-color: #000;
    color: #fff;
    text-align: center;
}
.chat-box-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size:12px;
}
.chat-box-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}
.chat-box-name-left {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 30px;
    text-align:left;
    color:#049E64;
}
.chat-box-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size:12px;
}
.chat-box-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}
.chat-box-name-right {
    color: #354EA0;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 45px;
    text-align:right;
}
.chat-box-footer {
    background-color: #D8D8D8;
    padding: 10px;
}

/*======================================
    CHAT BOX ONLINE STYLES
======================================= */
.hr-clas-low {
    border-top: 1px solid #C5C5C5;
}
.chat-box-online {
    max-height:554px;
    overflow:auto;
}
.chat-box-online-div {
    border:2px solid #03DB2F;
    border-bottom:2px solid #03DB2F;
} 
.chat-box-online-head {
    padding: 10px 15px;
    border-bottom: 2px solid #03DB2F;
    background-color: #03DB2F;
    color: #fff;
    text-align: center;
}
.chat-box-online-left {
    margin-left: 10px;
    text-align:left;
    color:#049E64;
}
.chat-box-online-left img {
    max-width:30px;
    border:1px solid #049E64;
    margin-bottom:10px;
}
.chat-box-online-right {
    margin-right: 10px;
    text-align:right;
    color:#354EA0;
}
.chat-box-online-right img {
    max-width:30px;
    border:1px solid #354EA0;
    margin-bottom:10px;
    
}

/*======================================
  NEW  CHAT  STYLES
======================================= */
.chat-box-new {
    max-height:554px;
    overflow:auto;
}
.chat-box-new-div {
    border:2px solid #ff6a00;
    border-bottom:2px solid #ff6a00;
} 
.chat-box-new-head {
    padding: 10px 15px;
    border-bottom: 2px solid #ff6a00;
    background-color: #ff6a00;
    color: #fff;
    text-align: center;
}

/*======================================
  MY LABELS STYLES
======================================= */
.btn-group {
    width: 100%;
    vertical-align: baseline;
}
#dropdown-title {
    min-width:200px!important;
}
.my_labels {
    float:left!important;
}
.list-group {
    padding-left: 0;
    margin-bottom: 10px;
}
#eventSelect, #list-enconders-decoders {
    overflow: scroll; 
    height: 290px;
}
ul {
    padding-left: 0;
}
#clients-list, .btn-group {
    margin-top: 10px;
}
.label {
    line-height: inherit;
}
.badge {
    line-height: initial;
}
h3 {
    margin-top: 5px;
}
#dropdown-title .glyphicon {
    float:right;
    line-height: inherit;
    white-space: initial;
}
.btn {
    white-space: normal;
}
#email {
    color:#EEE;
}
#flash {
    position: relative;
    width: 50%;
    left: 25%;
    right: 25%;
    text-align: center;
    height: 60px;
}
.jumbotron {
    padding-top: 10px;
}
.modal-header {
    text-align: center;
}
.modal-dialog {
    margin-top: 5%;
    margin-left: 25%;
    width:50%;
}
.btn-block-reg {
    width: 48%;
    margin: 1%;
}
.container {
    width: 95%;
}
.my_login {
  /*width: 20%;*/
  margin-left: 10px;
  /*margin: 0 auto;*/
}
#my_login_block {
  margin: 0 auto;
  float: none;
}
#my_login_modal {
  width: 70%;
  margin: 0 auto;
  float: none;
}
.my_buttons {
  width: 20%;
}
#login_icon {
	bottom: 30%;
	color:#fff;
}
.navbar-header {
	width: 70%;
}
#div_email {
	margin-right: 0%;
}
#div_email a.dropdown-toggle {
	color:#9d9d9d;
	background-color: transparent;
}

#top_container {
	line-height: 0;
}
#ctrl_user {
	float: right;
}
#page-wrapper {
	margin: 0 auto;
  float: none;
}